.form
    &__discount
        input
            height: 50px
            width: 200px
            border-radius: 50px
            background-color: #ffffff
            margin-right: 5px
            padding: 0 20px
            color: #4b4b4b
            font-size: 14px
            font-weight: 30000
            font-style: normal
            letter-spacing: normal
            text-align: left
            outline: none
            &:nth-child(3)
                margin-right: 10px
            