.signUp__form,.signIn__form
    input
        display: block
        margin: 0 auto
        margin-top: 10px
        height: 50px
        width: 250px
        border-radius: 50px
        background-color: #ffffff
        padding: 0 20px
        color: #4b4b4b
        font-size: 14px
        font-weight: 30000
        font-style: normal
        letter-spacing: normal
        text-align: left
        outline: none


