.nav
    position: sticky
    top: 0
    width: 100%
    height: 70px
    background-color: #fff
    padding: 15px 30px
    z-index: 15
    &__menu
        display: flex
        align-items: center
        margin-bottom: 0
        padding-left: 0
        list-style-type: none
        &-link
            color: #232323
            font-size: 16px
            text-align: center
            font-weight: 600
            text-transform: uppercase
            transition: 0.5s all
            &:hover
                text-decoration: none
                color: #346AE8
                text-decoration: underline

        &-item
            margin-left: 20px
        &-logo
            flex: 1
            a
                color: #232323
                font-size: 24px
                font-weight: 900
                &:hover
                    text-decoration: none
            span
                color: #346AE8
